* {
    padding: 0;
    margin: 0;
}
html {
    /* Avoid different widths on longer pages */
    overflow-y: scroll;
}
body {
    padding-bottom: 50px;
    font-family: Verdana, sans-serif;
}
body, button, textarea {
    /* Increase default font size */
    font-size: 16pt;
}
pre {
    white-space: pre-line;
}
.body-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.js-error {
    color: red;
    font-weight: bold;
}

#js-top-nav {
    margin: auto;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 30px;
}
#js-top-nav > div {
    margin-top: 20px;
    display: inline-block;
}
#js-top-nav a {
    border: 1.5px solid #512C1D;
    border-radius: 15%;
    padding: 10px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    background-color: #3E8EDE;
}
#js-top-nav a:hover {
    background-color:#ffffff;
    color:#3E8EDE;
    border: 1.5px solid #EE96CB;
}
h1 {
    /* Center headings */
    text-align: center;
    margin: 20px;
}
