textarea {
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}

#new-profile-text {
    min-height: 200px;
}

#new-profile-link {
    min-height: 50px;
}

.js-profile-text {
    border: 1px solid black;
}